<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>YangMVC服务器启动啦</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	
</head>
<body>
	当你看到这个界面，YangMVC服务器已经启动啦，<br><hr>
	<b>如果你想显示你的模板，却看到了这个页面，说明你的模板路径配置不正确。请看控制台输出</b>
	<a href='https://gitee.com/yangtf/YangMVC' target='_blank'>点击查看 YangMVC 官网主页</a>
	<hr>
	<a href='/json'>输出json</a><br>
	<a href='/fm'>测试freemarker</a><br>
	<a href='/retstr'>输出字符串</a><br>
	<a href='/retjson'>输出json</a><br>
	
	<pre>
		public String retstr(){
			return "hello";
		}
		public Object retjson(){
			return MapHelper.toMap("yang",123,"wang",444);
		}
		public Object retfm(){
			return freemarker("/index.html");
		}
		
	</pre>
	在src下建立web.properties，并输入内容可以配置数据库等基本信息。
	<pre>
controller=yang.package
template=/view
dbhost=localhost
dbusr=root
dbpwd=123456
dbname=mvc_demo
dbport=3306
reloadable=true
	</pre>
	reloadable允许你修改controller之后，不需要重启自动重新加载，大大提高了开发效率。
</body>
</html>