<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<meta charset="utf-8" />
</head>
<body> 
hehe.... fm 
${v}
<#assign test1 = "2009-01-22"?date("yyyy-MM-dd") />;  
<#assign x = 2.582 />   
${x}<br/>
${test1?string("yyyy-MM-dd")} <br/>
${test1?string.short}<br/>
${test1?string.long}<br/>
${test1?string.full}<br/>
${3+5}<br/>
${arr[0]}<br/>
${arr[1]}<br/>
<#assign foo=true />
${foo?string("aaa中国字好了","bbb")} <br/>
中国
<#if (x>2) >
x is bigger then 2
<#else>
x is smaller then 2
</#if>

<#assign lastUpdated = "2009-01-07 15:05"?datetime("yyyy-MM-dd HH:mm") />  <br/>
${lastUpdated?string("yyyy-MM-dd")}; <br/>
${lastUpdated?string("yyyy-MM-dd HH:mm:ss zzzz")}; <br/>
${lastUpdated?string("EEE,MMM d,yy")};  <br/>
${lastUpdated?string("EEEE,MMMM dd,yyyy,hh:mm:ss a '('zzz')'")}; <br/> 
${lastUpdated?string.short};  <br/>
${lastUpdated?string.long};  <br/>
${lastUpdated?string.full};  <br/> 


<#setting number_format = "currency" />  
<#assign price = 42 />  <br /> 
${price}  <br /> 
${price?string}  <br /> 
${price?string.number}  <br /> 
${price?string.currency}  <br /> 
${price?string.percent}   <br /> 

${have!"no have"}

<br>
<#assign x = 2.582 />  
<#assign y =4 />  
#{x;M2}<br />  
#{y;M2}<br />
#{x;m1}<br />
#{y;m1}<br />

<#assign score = {"语文":78,"数学":83,"Java":89} /> 
 
<#list score?keys  as x>  
   ${x}--->${score[x]};  
</#list> 

${score["1"]!"haha"}

<#list ["星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期天"] as n> 
${n} 
</#list> 

${book.name!"null"}

${m.name!"no name of book"}
mm = ${m2.name!"m2.name is null"}
${book.next.name!"default"}
<script type="text/javascript">
setTimeout("self.location.reload();",2000);
</script>
</body>
</html>